table.dataTable tbody tr {
    background-color: #f6f5f3;
    height: 65px;
}

table.dataTable thead th, table.dataTable tfoot th {
    font-weight: 600;
    letter-spacing: 1px;
}

.table-hover tbody tr:not(.selected):hover {
    background-color: #f6f5f3;
}

tr:not(.odd, .even, :last-child):hover > td:first-of-type {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: #f6f5f3;
}

tr:hover td {
    background-color: rgba(0,0,0,.075);
}

tr.odd:hover td:first-child, tr.even:hover td:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

tr.odd:hover td:last-child, tr.even:hover td:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.selected td {
    background-color: rgba(217,217,214,255)!important;
    transition: 0.2s;
}

.selected td:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.selected td:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.align-box {
    text-align: center;
}

/*checkbox apipavidalinimas*/
.checkboxColor > input {
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 2px solid #838383;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    cursor: pointer;
}

.checkboxColor > input:checked {
    background-color: #838383;
}

label.checkboxColor {
    margin-bottom: 0;
}

/*dataTables CSS modification & positioning*/
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 0 !important;
    content: "" !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 0 !important;
    content: "" !important;
}

table.dataTable thead .sorting_asc {
    background: url("http://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
}
table.dataTable thead .sorting_desc {
    background: url("http://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
}
table.dataTable thead .sorting {
    background: url("http://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
}

table.dataTable tbody tr.selected a,
table.dataTable tbody th.selected a,
table.dataTable tbody td.selected a {
    color: #858488;
}

table.dataTable thead > tr > th:not(:first-child) {
    padding-left: 20px !important;
    padding-right: initial !important;
}

td {
    color: #858488;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0.8px;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

td:hover {
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-name: fadein;
    animation-name: fadein;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    width: auto;
}

table.dataTable td {
    vertical-align: middle;
}

@-webkit-keyframes fadein {
    100% {
        white-space: normal;
        overflow: visible;
    }
}

@keyframes fadein {
    100% {
        white-space: normal;
        overflow: visible;
    }
}

table {
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
}

.arrow2 {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-top: 3px solid #d9d9d6;
    border-right: 3px solid #d9d9d6;
    padding: 3px;
    transition: 0.2s;
    transform: rotate(45deg);
}

.arrow2:hover { cursor: pointer; border-top: 3px solid gray; border-right: 3px solid gray;}
.details-control:hover .arrow2 { border-top: 3px solid #7e7e82; border-right: 3px solid #7e7e82; }
.details-control:hover { cursor: pointer; }

.arrow-rotate {
    transform: rotate(135deg)!important;
}

div.dataTables_wrapper div.dataTables_processing {
    padding-top: 4px;
}

/*eilutės redagavimo pagražinimas*/
.editable-click, a.editable-click, a.editable-click:hover {
    text-decoration: none;
    border-bottom: none;
    color: #858488;
    font-weight: 600;
    letter-spacing: 0.8px;
}

/*jei isskleista eilute, tuomet uzvedus pelyte pasirenka abu laukelius*/
.table-hover tbody tr:not(.selected):hover + tr:not(.odd, .even) > td {
    background-color: rgba(0,0,0,.075);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.table-hover tbody tr:not(.selected):hover + tr:not(.odd, .even) td {
    background-color: rgba(0,0,0,.075);
}

.double-select {
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.double-background td {
    background-color: rgba(0,0,0,.075)!important;
}

.select-upper {
    background-color: #f6f5f3 !important;
}

.round-border-left {
    border-top-left-radius: 20px !important;
}

.round-border-right {
    border-top-right-radius: 20px !important;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}

div.dataTables_wrapper div.dataTables_processing {
    background: transparent;
    border: none;
    margin-top: 50px;
}

tr.child:hover tr.children-row {
    background-color: rgba(255, 255, 255, 0.37);
}

/*mygtukas*/
.round {
    border-radius: 15px;
}

/*leidimas redaguoti*/
#restriction {
    display: none;
    color: red;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    font-size: 20px;
    font-weight: bold;
    background: rgba(252, 181, 181, 0.88);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgba(207, 207, 207, 0.8);
}

.exclamation-icon {
    margin-right: 6px;
    font-size: 24px;
    vertical-align: text-bottom;
}

.dtr-data a {
    color: #858488;
    text-decoration: none;
}
