:root {
    --inactive-color: #da5d5d;
    --active-color: #97c96d;
}

.activeColor {
    background: var(--active-color);
}

.inactiveColor {
    background: var(--inactive-color);
}

#workTimeColor {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
