@import url(https://fonts.googleapis.com/css2?family=Blinker:wght@400;600;700&display=swap);
::marker {
    content: none;
}

body {
    background-color: #f6f5f3;
}

* {
    font-family: 'Blinker', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Virsutine dalis*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 16% 15px;
}

a:hover {
    text-decoration: none;
}

.navbar-section > a, #logout {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    color: rgba(50,46,43,255);
    text-decoration: none;
    width: 60px;
    height: 21px;
    background-color: rgba(217,217,214,255);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin: 3px;
    letter-spacing: 1px;
    text-align: center;
}

.navbar-section > a:hover {
    background-color: rgba(59, 114, 84, 0.8);
    color: white;
}

#logout:hover {
    background-color: rgb(201, 200, 200);
    color: black !important;
}

a.active {
    background-color: rgba(85,149,27,255);
    color: white;
}

.search {
    border-left: 2px solid;
    background-color: #f6f5f3;
    /*color: rgba(140,140,143,255);*/
    border-color: lightgray;
    border-top: none;
    border-bottom: none;
    border-right: none;
    margin-right: 16px;
    font-size: 14px;
    margin-left: 5px;
    text-indent: 10px;
    transition: 0.2s;
    letter-spacing: 0.7px;
    font-weight: 600;
}

input:focus {
    outline: none;
    color: rgba(140,140,143,255);
    transition: 0.2s;
}

.language-select {
    text-decoration: none;
}

.dropdown-toggle:after {
    content: none;
}

#lang-border {
    height: 51%;
    width: 1.5px;
    position: absolute;
    top: 7px;
    background-color: dimgray;
}

.arrow {
    border: solid #d9d9d6;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 15px;
    margin-bottom: 3px;
}

.language-select:hover .arrow {
    border: solid dimgray;
    border-width: 0 3px 3px 0;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dropdown {
    display: inline;
    float: right;
}

.dropdown a:hover {
    color: #77777b;
    text-decoration: none;
}

.dataTables_filter {
    display: none;
}

.tab-name {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 2px;
}

/*Vidurine dalis*/
.inlineButton {
    display: inline;
    float: right;
    margin-left: 12px;
}

.fa-filter::before {
    content: "\f0b0";
    top: 1px;
    position: relative;
    right: 1px;
}

.toggle-button {
    border-radius: 15px;
    width: 38px;
    height: 38px;
    line-height: 25px;
}

.button {
    background-color: rgba(217,217,214,255);
    color: gray;
}

.button:hover {
    background-color: rgb(201, 200, 200);
    transition: 0.3s;
}

#sLetters {
    display: table;
    border-spacing: 9px 0;
    margin-left: -11px;
    color: gray;
    font-size: 15px;
    margin-top: -5px;
}
.letter, .nLetter {
    display: table-cell;
    transition: 0.2s;
    font-weight: 600;
}

.letter:hover, .nLetter:hover {
    color: black;
    transition: 0.2s;
    cursor: pointer;
}

.clear-selection i {
    color: #c13a3a;
    vertical-align: -1px;
}

/*Filtrų atidatymo langas*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
}

.close {
    margin-left: auto;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#filterForm .btn-light {
    color: #000;
    background-color: #d9d9d6;
    border: none;
}

.modal-backdrop {
    z-index: 0;
}

.new-button {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: #eae9e7;
    margin-right: 10px;
    color: black;
    transition: 0.3s;
}

.new-button:hover, .new-button:active {
    transition: 0.3s;
    background-color: #ffc107;
    color: black;
}
