.error-message {
    display: none;
    text-align: center;
    flex-grow: 1;
    color: red;
}

.fa-file-arrow-down {
    font-size: 21px;
}

.download, a.download:hover {
    text-decoration: none;
    border-bottom: none;
    color: #858488;
    font-weight: 600;
    letter-spacing: 0.8px;
}

.dataTables_wrapper {
    clear: none
}

#datatable-PersonalFiles_wrapper {
    float: left;
    width: 90%;
}

#datatable-WorkTime_wrapper {
    float: right;
    width: 100%;
}
