.employee-card {
    background-color: transparent;
    border: none;
    border-radius: 15px;
    width: 100%;
    display: none;
}

.employee-card .btn-primary {
    color: #171717;
    background-color: #d9d9d6;
    border-radius: 15px;
    border: none;
}

.employee-card .btn-primary:hover {
    color: black;
    background-color: rgb(201, 200, 200);
}
