@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@400;600;700&display=swap');

::marker {
    content: none;
}

body {
    background-color: #f6f5f3;
}

* {
    font-family: 'Blinker', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table.dataTable thead th, table.dataTable tfoot th {
    font-weight: 600;
    letter-spacing: 1px;
}

/*Virsutine dalis*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 16% 15px;
}

a:hover {
    text-decoration: none;
}

.navbar-section > a, #logout {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    color: rgba(50,46,43,255);
    text-decoration: none;
    width: 60px;
    height: 21px;
    background-color: rgba(217,217,214,255);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin: 3px;
    letter-spacing: 1px;
    text-align: center;
}

.navbar-section > a:hover {
    background-color: rgba(59, 114, 84, 0.8);
    color: white;
}

#logout:hover {
    background-color: rgb(201, 200, 200);
    color: black !important;
}

a.active {
    background-color: rgba(85,149,27,255);
    color: white;
}

.search {
    border-left: 2px solid;
    background-color: #f6f5f3;
    /*color: rgba(140,140,143,255);*/
    border-color: lightgray;
    border-top: none;
    border-bottom: none;
    border-right: none;
    margin-right: 16px;
    font-size: 14px;
    margin-left: 5px;
    text-indent: 10px;
    transition: 0.2s;
    letter-spacing: 0.7px;
    font-weight: 600;
}

input:focus {
    outline: none;
    color: rgba(140,140,143,255);
    transition: 0.2s;
}

.language-select {
    text-decoration: none;
}

.dropdown-toggle:after {
    content: none;
}

#lang-border {
    height: 51%;
    width: 1.5px;
    position: absolute;
    top: 7px;
    background-color: dimgray;
}

.arrow {
    border: solid #d9d9d6;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 15px;
    margin-bottom: 3px;
}

.language-select:hover .arrow {
    border: solid dimgray;
    border-width: 0 3px 3px 0;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dropdown {
    display: inline;
    float: right;
}

.dropdown a:hover {
    color: #77777b;
    text-decoration: none;
}

.dataTables_filter {
    display: none;
}

.tab-name {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 2px;
}

/*Vidurine dalis*/
#add-button, #filter-button, #download-button {
    display: inline;
    float: right;
    margin-left: 12px;
}

.fa-filter::before {
    content: "\f0b0";
    top: 1px;
    position: relative;
    right: 1px;
}

#addRow, #openFilter, #download, #removeDepartment {
    border-radius: 15px;
    width: 38px;
    height: 38px;
    line-height: 25px;
}

.button {
    background-color: rgba(217,217,214,255);
    color: gray;
}

.button:hover {
    background-color: rgb(201, 200, 200);
    transition: 0.3s;
}

#sLetters {
    display: table;
    border-spacing: 9px 0;
    margin-left: -11px;
    color: gray;
    font-size: 15px;
    margin-top: -5px;
}
.letter, .nLetter {
    display: table-cell;
    transition: 0.2s;
    font-weight: 600;
}

.letter:hover, .nLetter:hover {
    color: black;
    transition: 0.2s;
    cursor: pointer;
}

/*Filtrų atidatymo langas*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
}

.close {
    margin-left: auto;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#filterForm .btn-light {
    color: #000;
    background-color: #d9d9d6;
    border: none;
}

/*Lentelės spalva*/
table.dataTable tbody tr {
    background-color: #f6f5f3;
    height: 65px;
}

.table-hover tbody tr:not(.selected):hover {
    background-color: #f6f5f3;
}

tr:not(.odd, .even, :last-child):hover > td:first-of-type {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: #f6f5f3;
}

tr:hover td {
    background-color: rgba(0,0,0,.075);
}

tr.odd:hover td:first-child, tr.even:hover td:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

tr.odd:hover td:last-child, tr.even:hover td:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.selected td {
    background-color: rgba(217,217,214,255)!important;
    transition: 0.2s;
}

.selected td:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.selected td:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.align-box {
    text-align: center;
}

/*checkbox apipavidalinimas*/
.checkboxColor > input {
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 2px solid #838383;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    cursor: pointer;
}

.checkboxColor > input:checked {
    background-color: #838383;
}

label.checkboxColor {
    margin-bottom: 0;
}

/*dataTables CSS modification & positioning*/
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 0 !important;
    content: "" !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 0 !important;
    content: "" !important;
}

table.dataTable thead .sorting_asc {
    background: url("http://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
}
table.dataTable thead .sorting_desc {
    background: url("http://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
}
table.dataTable thead .sorting {
    background: url("http://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
}

table.dataTable tbody tr.selected a,
table.dataTable tbody th.selected a,
table.dataTable tbody td.selected a {
    color: #858488;
}

table.dataTable thead > tr > th:not(:first-child) {
    padding-left: 20px !important;
    padding-right: initial !important;
}

td {
    color: #858488;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0.8px;
    animation-play-state: paused;
}

td:hover {
    animation-play-state: running;
    animation-name: fadein;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    width: auto;
}

table.dataTable td {
    vertical-align: middle;
}

@keyframes fadein {
    100% {
        white-space: normal;
        overflow: visible;
    }
}

table {
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
}

.arrow2 {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-top: 3px solid #d9d9d6;
    border-right: 3px solid #d9d9d6;
    padding: 3px;
    transition: 0.2s;
    transform: rotate(45deg);
}

.arrow2:hover { cursor: pointer; border-top: 3px solid gray; border-right: 3px solid gray;}
.details-control:hover .arrow2 { border-top: 3px solid #7e7e82; border-right: 3px solid #7e7e82; }
.details-control:hover { cursor: pointer; }

.arrow-rotate {
    transform: rotate(135deg)!important;
}

div.dataTables_wrapper div.dataTables_processing {
    padding-top: 4px;
}

/*eilutės redagavimo pagražinimas*/
.editable-click, a.editable-click, a.editable-click:hover {
    text-decoration: none;
    border-bottom: none;
    color: #858488;
    font-weight: 600;
    letter-spacing: 0.8px;
}

/*jei isskleista eilute, tuomet uzvedus pelyte pasirenka abu laukelius*/
.table-hover tbody tr:not(.selected):hover + tr:not(.odd, .even) > td {
    background-color: rgba(0,0,0,.075);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.table-hover tbody tr:not(.selected):hover + tr:not(.odd, .even) td {
    background-color: rgba(0,0,0,.075);
}

.double-select {
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.double-background td {
    background-color: rgba(0,0,0,.075)!important;
}

.select-upper {
    background-color: #f6f5f3 !important;
}

.round-border-left {
    border-top-left-radius: 20px !important;
}

.round-border-right {
    border-top-right-radius: 20px !important;
}

.modal-backdrop {
    z-index: 0;
}

.new-button {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: #eae9e7;
    margin-right: 10px;
    color: black;
    transition: 0.3s;
}

.new-button:hover, .new-button:active {
    transition: 0.3s;
    background-color: #ffc107;
    color: black;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
